<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Weather App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="frame">
  <div class="moon">
    <div class="moon-crater1"></div>
    <div class="moon-crater2"></div>
  </div>
  <div class="hill-bg-1"></div>
  <div class="hill-bg-2"></div>
  <div class="hill-fg-1"></div>
  <div class="hill-fg-2"></div>
  <div class="hill-fg-3"></div>
	
  <div class="front">
		<div>
			<div class="temperature">
                {{temp}}°
			</div>
<div class="temperature">
                {{city}}
			</div>

		</div>
		<div class="proverb">“Frogs croaking in the lagoon,<br/>Means rain will come real soon.”</div>
	</div>
  <div class="drop-big-1"></div>
  <div class="drop-big-2"></div>
  <div class="drop-big-3"></div>
  <div class="drop-big-4"></div>
  <div class="drop-big-5"></div>
  <div class="drop-big-6"></div>
  <div class="drop-big-7"></div>
  <div class="drop-big-8"></div>
  <div class="drop-big-9"></div>
  <div class="drop-big-10"></div>
  <div class="drop-medium-1"></div>
  <div class="drop-medium-2"></div>
  <div class="drop-medium-3"></div>
  <div class="drop-medium-4"></div>
  <div class="drop-medium-5"></div>
  <div class="drop-medium-6"></div>
  <div class="drop-medium-7"></div>
  <div class="drop-medium-8"></div>
  <div class="drop-medium-9"></div>
  <div class="drop-medium-10"></div>
  <div class="drop-small-1"></div>
  <div class="drop-small-2"></div>
  <div class="drop-small-3"></div>
  <div class="drop-small-4"></div>
  <div class="drop-small-5"></div>
  <div class="drop-small-6"></div>
  <div class="drop-small-7"></div>
  <div class="drop-small-8"></div>
  <div class="drop-small-9"></div>
  <div class="drop-small-10"></div>
</div>
<!-- partial -->
  <script src='https://100dayscss.com/codepen/js/jquery.min.js'></script><script  src="../static/script.js"></script>

</body>
</html>
